## Introduction To Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful functions of the beautiful Scikit-Learn Library.

What we're going to discuss : 
0.An end-to-end Scikit-Learn Workflow
1.Getting the data Ready
2.Choose the right estimator/algorithm for our problems
3.Fit the model/algorithm and use it to make predictions on our data 
4.Evaluating a model 
5.Improve a Model
6.Save and load a trained model 
7.Put it all together!

## 0.An end-to-end Scikit-Learn Workflow

In [1]:
import numpy as np 
import pandas as pd

In [2]:
heart_disease = pd.read_csv("heart-disease.csv")

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
## Finding the data for X and Y 
X = heart_disease.drop('target' , axis=1)

In [5]:
y = heart_disease['target']

In [6]:
#Finding the right estimators which is random forest 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [7]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
#Import the train test , split 
from sklearn.model_selection import train_test_split 
X_train , X_test , y_train , y_test = train_test_split(X , y ,test_size = 0.2)

In [9]:
 clf.fit(X_train , y_train)

RandomForestClassifier()

In [10]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2
87,46,1,1,101,197,1,1,156,0,0.0,2,0,3
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2
130,54,0,2,160,201,0,1,163,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
218,65,1,0,135,254,0,0,127,0,2.8,1,1,3
219,48,1,0,130,256,1,0,150,1,0.0,2,2,3
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2

In [11]:
#MAking predictions for the Y-pred = X_test
y_pred =  clf.predict(X_test)

In [12]:
y_test

114    1
152    1
75     1
86     1
265    0
      ..
71     1
232    0
89     1
81     1
254    0
Name: target, Length: 61, dtype: int64

In [13]:
# Evaluating the model score which means clf on just the Test Data
clf.score(X_test , y_test)
print("The model's accuracy score is {}".format(clf.score(X_test , y_test)))

The model's accuracy score is 0.7868852459016393

In [14]:
# Evaluating the model score which means clf on just the Training Data
clf.score(X_train , y_train)
print("The model's accuracy score is {}".format(clf.score(X_train , y_train)))

The model's accuracy score is 1.0

## Metrics for the model

In [15]:
#Metrics for evaluating the model 
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score

In [16]:
print(classification_report(y_test , y_pred))

              precision    recall  f1-score   support

           0       0.75      0.83      0.79        29
           1       0.83      0.75      0.79        32

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.79      0.79      0.79        61

In [17]:
print(confusion_matrix(y_test , y_pred))

[[24  5]
 [ 8 24]]

In [18]:
print(accuracy_score(y_test , y_pred))

0.7868852459016393

## 5.improving the model by tunning the hyperparameters

In [19]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [20]:
np.random.seed(42)
for i in range(10,100,10):
    clf = RandomForestClassifier(n_estimators = i).fit(X_train , y_train)
    print("Trying the model at {} n_estiamtors .....".format(i))
    print("The Model score is at: {}%".format(clf.score(X_test , y_test) * 100))
    print('')
    print('')

Trying the model at 10 n_estiamtors .....
The Model score is at: 77.04918032786885%


Trying the model at 20 n_estiamtors .....
The Model score is at: 75.40983606557377%


Trying the model at 30 n_estiamtors .....
The Model score is at: 80.32786885245902%


Trying the model at 40 n_estiamtors .....
The Model score is at: 77.04918032786885%


Trying the model at 50 n_estiamtors .....
The Model score is at: 78.68852459016394%


Trying the model at 60 n_estiamtors .....
The Model score is at: 80.32786885245902%


Trying the model at 70 n_estiamtors .....
The Model score is at: 78.68852459016394%


Trying the model at 80 n_estiamtors .....
The Model score is at: 78.68852459016394%


Trying the model at 90 n_estiamtors .....
The Model score is at: 78.68852459016394%

## Saving a model and loading it using pickle

In [21]:
# Using dump to save the model and using load to open the model for future use 
import pickle 
pickle.dump(clf , open("Random_forest_algorithm_1.pkl" , "wb"))

### import pickle 
### pickle.dump(clf , open("random_1.pkl" , "wb")

### Saving is 
### pickle.load("random_1.pkl" , "rb")

In [24]:
## Loading th model saved with pickle
loaded_model = pickle.load(open("Random_forest_algorithm_1.pkl" , "rb"))

In [25]:
loaded_model.score(X_test , y_test)

0.7868852459016393